{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="d-flex flex-column">
            <p class="m-auto p-2">We have Mailed you instructions for setting your password,
                 if an Account exists with the provided Email. 
                 You should receive the reset message shortly
            </p>

            <p class="m-auto p-2">If you don't receive an Email, 
                please make sure you are entered the address you registered with,
                 and check your spam folder
           </p>

           <p class="m-auto p-2">
                <a href="{% url 'home' %}">Return to home page</a>
            </p>

        </div>
    </div>

{% endblock %}